# ============================================
# SutraSparsh Import Engine
# ============================================

NODE_ENV=development

APP_NAME=SutraSparsh Import Engine

FIREBASE_PROJECT_ID=sutrasparsh-17a55

FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebase-service-account.json

LOG_LEVEL=debug

IMPORT_BATCH_SIZE=100

IMPORT_DELAY_MS=500

DEFAULT_LANGUAGE=sa

DEFAULT_TRANSLATION=en